# Data Structure in Python

Helps in organising and storing data components efficiently
- multiple inbuilt datstructures are there in python
- different structures in python - list ,tuples, arrays, queues ,stacks ,graphs , dictionaries

- main focus on lists,dictionaries

**Lists:**

*   Ordered
*   all elements are mutable (can be changed)
*   Always in []
*   Output is also a **list**

In [1]:
#creating a list
my_list= [1,2,3,4,5]
#accecing elements
print(my_list[0])

1

In [2]:
#Adding elemnts is append method
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [3]:
#removing elements
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6]

In [6]:
# SLICING
# list[ inclusive : exclusive :step]
print(my_list[:3])

[1, 2, 4]

In [7]:
# Modifying the lists
my_list[1]='9'
print(my_list)

[1, '9', 4, 5, 6]

In [9]:
#Reversing the list.  #if we see reverse direction it will always start from -1
my_list.reverse()
print(my_list)

[6, 5, 4, '9', 1]

**Tuples**

Tuples are immutable


only acces the element

Always ()

In [5]:
#creating a tuple
my_tuple=(1,2,3,4,5)
#accessing elemnts
print(my_tuple[1])
\
#my_tuple[1]=10 #ERROR
\
#slicing               #one elemnt before the end will printed
print(my_tuple[1:4])

2
(2, 3, 4)

**Dictionary**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

In [16]:
# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25,'city': 'New York'}

# Accessing values
print (my_dict['name']) # Outout: Alice
# Adding key-value pairs
my_dict['email'] = 'alice@example.com'
print(my_dict)
# Output: ('name': 'Alice', 'age': 25, 'city': 'New York', 'email:'alice@example.com')
# Removing key-value pairs
del my_dict['age']
print (my_dict)
# Output: ('name': 'Alice', 'city': 'New York', 'email': 'alice@t)

Alice
{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

**Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

In [17]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry", True, 1, 2} #Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:


print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [19]:
thisset = {"apple", "banana", "cherry", False, True, 0}
 #Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:


print(thisset)

{False, True, 'cherry', 'banana', 'apple'}

In [20]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [26]:
# Creating a set
my_set = {1, 2, 3, 4, 5}
# Adding elements
my_set.add(6)
print(my_set) # Output: {1, 2, 3, 4, 5, 6}
# Removing elements
my_set.remove(3)
print (my_set)
# Output: {1, 2, 4, 5, 6}
# Set operations
another_set = {4, 5, 6, 7, 8}
print (my_set & another_set)
print (my_set | another_set)
print (my_set - another_set)
{1, 2, 3, 4, 5, 6}
# Output: {4, 5, 6} (intersection)
# Output: {1, 2, 4, 5, 6, 7, 87 (union)
# Output: {1, 2 (difference)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{4, 5, 6}
{1, 2, 4, 5, 6, 7, 8}
{1, 2}

{1, 2, 3, 4, 5, 6}

**Join Sets**

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [22]:


set1 = {"a","b","c"}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

#You can use the | operator instead of the union() method, and you will get the same result.

set1 = {"a","b","c"}
set2 = {1,2,3}

set3 = set1 | set2
print(set3)

#Join multiple sets with the union() method:

set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {"John","Elena"}
set4 = {"apple","bananas","cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

#When using the | operator, separate the sets with more | operators:
#Use | to join two sets:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {"John","Elena"}
set4 = {"apple","bananas","cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'c', 1, 2, 3, 'b', 'a'}
{'c', 1, 2, 3, 'b', 'a'}
{'c', 1, 2, 3, 'b', 'cherry', 'bananas', 'apple', 'Elena', 'John', 'a'}
{'c', 1, 2, 3, 'b', 'cherry', 'bananas', 'apple', 'Elena', 'John', 'a'}

In [24]:
## How can you convert a List of tuples into a dictionary in Python?
list_of_tuples = [('name', 'Alice'), ('age', 25), ('city', 'New York') ]
my_dict = dict(list_of_tuples)
print(my_dict) # Output: {'name':'Alice"}'age': 25, 'city': 'New York"}

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [28]:
## How can you merge two dictionaries in Python?
dict1 = {'name': 'Alice','age': 25,}
dict2 = {'city': 'New York', 'email':'alice@example.com'}
# Using update()
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

In [30]:
# Using dictionary unpacking (Python 3.5+)
merged_dict = {**dict1, **dict2}
print (merged_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'email': 'alice@example.com'}

In [31]:
# How can you sort a List in Python?
my_list = [3, 1, 4, 1, 5, 91]
# Using sort() method (sorts in-pLace)
my_list.sort()
print (my_list) # Output: [1, 1, 3, 4, 5, 9]
# Using sorted() function (returns a new sorted List)
sorted_list = sorted(my_list)
print (sorted_list) # Output: (1, 1, 3, 4, 5, 97

[1, 1, 3, 4, 5, 91]
[1, 1, 3, 4, 5, 91]

In [32]:
# How can you concatenate two tuples in Python?
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print (concatenated_tuple)

(1, 2, 3, 4, 5, 6)